<link href="~/css/styleCreate.css" rel="stylesheet">
@model Account
<a  asp-action="Index" class="text-white  p-30  bg-dark "><i class="fa fa-arrow-left "></i></a>
<body>
<form asp-action="Create" class="col-md-10 khung" enctype="multipart/form-data">
    <div class="container">
        <h1 style="text-align:center">Create Account Form</h1>
        <p style="text-align:center">Please enter your information</p>
        <hr>
            @section MsgCreateFail{
                <script>
                    setTimeout(function () {
                        $('#msgCreateFail').fadeOut('slow');
                    }, 3000);

                </script>
            }

            @if (ViewBag.CreateFail != null)
            {
                <div id="msgCreateFail" class="alert alert-primary text-center m-3" role="alert">
                    @ViewBag.CreateFail
                </div>
            }
            <label asp-for="Username"><b>Username</b></label>
            <input asp-for="Username" type="text" placeholder="Username" minlength="3" maxlength="100" required>
            <p class="ghichu">
                At least 3 characters
            </p>
            <label asp-for="Password"><b>Password</b></label>
            <input asp-for="Password" type="password" placeholder="Password" required pattern="(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Password must contain at least 8 characters and have at least 1 lowercase letter, 1 uppercase letter">
            <p class=" ghichu ">*Password must contain at least 8 characters and have at least 1 lowercase letter, 1 uppercase letter</p>
            <label asp-for="Email"><b>Email</b></label>
            <input asp-for="Email" type="text" placeholder="Email" required pattern="[a-z0-9._%+-]+@@[a-z0-9.-]+\.[a-z]{2,}$" title="Email invalidate">

            <label asp-for="Phone"><b>Phone</b></label>
            <input asp-for="Phone" type="text" placeholder="Phone" required pattern="[0-9]{10}" title="Phone number must include 10 numbers">

            <label asp-for="Adress"><b>Adress</b></label>
            <input asp-for="Adress" type="text" placeholder="Adress" required>

            <label asp-for="Fullname"><b>Fullname</b></label>
            <input asp-for="Fullname" type="text" placeholder="Fullname" required>

            <label asp-for="AvatarFile"><b>Avatar</b></label>
            <input asp-for="AvatarFile" class="form-control" placeholder="Username" required>
            <span asp-validation-for="AvatarFile" class="text-danger"></span>
            <p class="ghichu">*If the file is not in the correct format, the image will not be displayed</p>
            <input asp-for="Status" type="hidden" value="true"/>
        <input type="checkbox" asp-for="IsAdmin" value="true" >
        <label for="">Is Admin</label><br>
       @* <input asp-for="AvatarFile" class="form-control" />
        <span asp-validation-for="AvatarFile" class="text-danger"></span>*@
    
       @* <label>
            <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Nhớ Đăng Nhập
        </label>*@
        <div class="clearfix">
            <button type="submit" class="signupbtn">Create</button>
        </div>
    </div>
</form>
</body>
